.show-container{
  margin: 0 0 50px;
  .show-content{
    padding:0 125px;
    background-color: transparent;
    margin-top:var(--content-margin-top);
    display:flex;
    justify-content: center;
  }
  .season-label{
    color:var(--accent-color);
    margin:0 30px 0 0;
    font-size: 24px;
    font-weight: 400;
  }
  .floating-nav{
    position:fixed;
    display: inline-block;
    top:80px;
    right:25px;
    color:var(--muted-font-color);
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    transform: translateX(500px);
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    transition: transform 1s linear;
    &.show{
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      transform: translateX(0);
    }
    .season-number{
      margin:0 10px;
      cursor: pointer;
      &.active,&:hover{
        color:var(--accent-color);
      }
    }
  }
  .show-header{
    text-align: center;
    padding:30px 125px 10px;
    position: relative;
    background-color: var(--header-background);
    position:var(--sub-header-position);
    left:0;
    top:var(--sub-header-pos);
    width:var(--header-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .season-nav{
      margin:30px 0 0;
      text-align: left;
      display: flex;
      flex-wrap:nowrap;
      width: 100%;
      align-items: baseline;
      color:var(--muted-font-color);
      max-width: 1200px;
      .season-number{
        margin:0 10px;
        cursor: pointer;
        &.active,&:hover{
          color:var(--muted-color);
        }
      }

    }

    .show-name{
      color: var(--accent-color);
      font-weight: 400;
      margin:0;
      display: inline-block;
      width:100%;
      input{
        color:var(--accent-color) !important;
      }
    }
    .show-next-eps{
      font-size: 15px;
      color:var(--accent-color);
      width: 100%;
      margin:0;
    }

    .show-current-season{
      padding:0 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color:var(--accent-color);
      font-weight: 300;
      width:100%;
    }
  }
  .no-eps{
      color: var(--muted-font-color);
      font-weight: 300;
      margin:auto;
      display: inline-block;
      width:100%;
      text-align: center;
  }
}
