.show-container{
  margin: 0 0 50px;
  .show-content{
    padding:0 125px;
    background-color: transparent;
    margin-top:var(--content-margin-top);
    display:flex;
    justify-content: center;
  }
  .show-profile{
    position: relative;
    border-radius: 100%;
    &:before{
      position: absolute;
      top:0;
      left:0;
      content: '';
      background: rgba(0,0,0,.3);
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
    .icon{
      position: absolute;
      top:50%;
      left:50%;
      -webkit-transform:translate(-50%,-50%);
      -moz-transform:translate(-50%,-50%);
      transform:translate(-50%,-50%);
    }
  }
  .season-label{
    color:var(--accent-color);
    margin:0 30px 0 0;
    font-size: 24px;
    font-weight: 400;
  }
  .floating-nav{
    position:fixed;
    display: inline-block;
    max-height: 60%;
    overflow: auto;
    top:80px;
    right:25px;
    color:var(--muted-font-color);
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    transform: translateX(500px);
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    transition: transform 1s linear;
    &.show{
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      transform: translateX(0);
    }
    .season-number{
      margin:0 10px;
      cursor: pointer;
      &.active,&:hover{
        color:var(--main-color);
        div{
          color:var(--main-color);
        }
      }
    }
  }
  .show-header{
    text-align: center;
    padding:30px 125px 10px;
    position: relative;
    background-color: var(--header-background);
    position:var(--sub-header-position);
    left:0;
    top:var(--sub-header-pos);
    width:var(--header-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .season-nav{
      margin:30px 0 0;
      text-align: left;
      display: flex;
      flex-wrap:wrap;
      width: 100%;
      align-items: baseline;
      color:var(--muted-font-color);
      max-width: 1200px;
      .season-number{
        margin:0 10px;
        cursor: pointer;
        &.active,&:hover{
          color:var(--muted-color);
        }
      }
      .seasons-wrapper{
        width:calc(100% - 50px);
        display: flex;
        flex-wrap: wrap;
      }

    }

    .show-name{
      color: var(--accent-color);
      font-weight: 400;
      margin:0;
      display: inline-block;
      width:100%;
      input{
        color:var(--accent-color) !important;
      }
    }
    .show-next-eps{
      font-size: 15px;
      color:var(--accent-color);
      width: 100%;
      margin:0;
    }

    .show-current-season{
      padding:0 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color:var(--accent-color);
      font-weight: 300;
      width:100%;
    }
  }
  .no-eps{
      color: var(--muted-font-color);
      font-weight: 300;
      margin:auto;
      display: inline-block;
      width:100%;
      text-align: center;
  }
  .desktop-table{
    width:100%;
  }
  .mobile-table, .tool-bar-mobile{
    display:none;
    width: 100%;
  }
  .mobile-date{
    display: block;
    color:#aaa;
    font-size: 13px;
  }
  .season-toolbar{
    color:var(--muted-font-color);
    text-align: center;
    margin: 0 12.5px;
    width: calc(100% / 5);
    &.active{
      color:var(--main-color);
      .season-label{
        color:var(--main-color);
      }
    }
  }

  .season-label{
    margin:0;
    color:var(--muted-font-color);
    font-weight: 300;
    font-size: 14px;
  }
}
.season-menu-label{
  &.active{
    color:var(--main-color);
  }
}
@media only screen
and (max-device-width: 1023px){
 .show-container{
    margin-bottom:0;
    .no-eps{
      font-size: 18px;
      padding:0 20px;
    }
    .desktop-table{
      display: none;
    }
    .mobile-table, .tool-bar-mobile{
      display: block;
    }
    .show-header{
      padding:30px 10px 10px;
      .season-nav{
        display:none;

      }
    }
    .floating-nav{
      opacity:0;
      pointer-events: none;
      &.show{
        transform: translateX(-1000px);
      }
    }
    .show-content{
     padding:0 0 60px;
    }
 }

}
