.show-container{
  margin:0;
  .show-header{
    text-align: center;
    padding:30px 100px;
    position: relative;
    margin-bottom: 30px;
    background-color: var(--header-background);

    .show-name{
      color: var(--accent-color);
      font-weight: 400;
      margin:0;
      display: inline-block;
      input{
        color:var(--accent-color) !important;
      }
    }
    .show-next-eps{
      font-size: 15px;
      color:var(--accent-color);
      margin:0;
    }

    .show-current-season{
      padding:0 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color:var(--accent-color);
      font-weight: 300;
    }
  }
}
