html,body, body > div{
  width:100%;
  height:100%;
  font-size: 16px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

:root {
    --accent-color: #fff;
    --header-background:transparent;
}


.app{
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  .main-content{
    position: relative;
  }
  a{
    text-decoration: none;
  }
  .app-header{
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-color: var(--header-background);
    .logo{
      max-height: 100%;
      width:120px;
    }
  }

  .app-body{
    height:calc(100%);
    overflow: auto;
  }

  table, caption, tbody, tfoot, thead, tr, th, td{
    vertical-align:middle;
  }

  input,input:focus,input:active{
    outline:none;
  }

  .dynamic-background{
    background-color: #fafafa;
    position: static;
    width:100%;
    top:0;
    left:0;
    height: 35%;
    z-index: -1;
    will-change: transform;
    opacity: 1;
    //@include transition(opacity ease .2s);
    &.opacity{
      opacity: 0;
    }
    .background-color{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;

    }

    .background-images{
      position: absolute;
      width: 100%;
      height: 100%;

    }

    .background-gradient{
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
    }

    .background-image{
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      //@include transition(opacity 0.5s ease);
      &.show{
        opacity:1;
      }
    }

    .background-image-container{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 60vw;
      pointer-events: none;
    }

  }
}
